# Visual Studio #
###################
*.user
*.sdf
*.opensdf
*.suo
Debug/
Release/
ipch/
*.aps
!gdx-audio/extern/mpg123/ports/MSVC++/2008/Debug/
!gdx-audio/extern/mpg123/ports/MSVC++/2008/Release/


# Mac #
###################
._*
.DS_Store