# Visual Studio #
###################
*.user
*.sdf
*.opensdf
*.suo
Debug/
Release/
ipch/
*.aps
!gdx-audio/extern/mpg123/ports/MSVC++/2008/Debug/
!gdx-audio/extern/mpg123/ports/MSVC++/2008/Release/
!gdx-audio/extern/vorbis/Debug/
!gdx-audio/extern/vorbis/Release/
!backends/backend-glfw/extern/glfw-2.7.3/support/msvc100/Debug/
!backends/backend-glfw/extern/glfw-2.7.3/support/msvc100/Release/

# CodeLite #
###################
.build*
*.tags
*.session
*.mk
*.gch

# Mac #
###################
._*
.DS_Store

# XCode #
###################
xcuserdata/
gdx/gdx.xcodeproj/project.xcworkspace/xcuserdata/cosmin.xcuserdatad/
